# OS System files
.DS_Store

# Dependencies
node_modules/

# Environment variables and configuration files
.env

# Build artifacts
.wrangler
web/public/js/
web/public/css/
web/public/assets/generated/
web/public/*.html
